<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>iphone后台</title> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
<table class="table table-bordered">
    <tr class="active">
        <th>订单信息</th>
    </tr>
    <tr>
        <td>
            <div class="row">
            <div class="col-md-6">
                
                </div>
                <div class="col-md-6  text-right">
                    
                </div>
            </div>

            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>电话</th>
                        <th>商品</th>
                        <th>价格</th>
                        <th>地址</th>
                        <th>状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody id="buygoods_list">
                    
                </tbody>
            </table>
        </td>
    </tr>
</table>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/buygoods.js"></script>
</body>
</html>