<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iphone</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/iphone.css">
    <link rel="stylesheet" href="../static/css/loginDialog.css">
</head>
<body>
    <div class="nav">
		<div class="logo"><a href="./index.html"><img src="../static/image/logo.png"></a></div>
		<ul>
			<li><a href="./iphone.html">iphone</a></li>
			<li><a href="./mac.html">Mac</a></li>
			<li><a href="./iwatch.html">iwatch</a></li>
		</ul>
		<div class="navRight">
			<span class="login">登录/</span>
			<span class="regin">注册</span>
		</div>
    </div>
    <div class="top">
        <div class="main">
            <div class="left">
                <h5>iPhone 11 Pro</h5>
                <h3>摄像头、显示屏、性能，样样 Pro 如其名。</h3>
                <p>折抵换购，仅 RMB 154/月或 RMB 3699 起*。</p>
            </div>
            <div class="right">
                <img src="../static/image/iphone11pro.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="bottom">
        <h2>哪款iPhone适合你？</h2>
       <div class="bottomcont">
            <div class="ipone11pro">
                <img src="../static/image/iPhone1.jpg" alt="">
                <ul>
                        <li class="item1">ipone11pro</li>
                        <li>RMB 8699</li>
                        <li>全新三摄系统 <br>
                                (超广角、广角、长焦)</li>
                        <li>视频播放最长可达 20 小时</li>
                        <li>具备抗水性能，最多可在 4 米水深停留 30 分钟</li>
                        <li>5.8 英寸或 6.5 英寸
                                超视网膜 XDR 显示屏</li>
                                <li class="buy"><a href="#">购买</a></li>
                    </ul>
                

            </div>
            <div class="ipone11">
                <img src="../static/image/iPhone2.jpg" alt="">
                <ul>
                        <li class="item1">iPhone 11</li>
                        <li>RMB 5499</li>
                        <li>全新双摄系统
                                 <br>
                                 (超广角、广角)</li>
                        <li>视频播放最长可达 17 小时</li>
                        <li>具备抗水性能，最多可在 2 米水深停留 30 分钟</li>
                        <li>6.1 英寸
                                Liquid 视网膜高清显示屏</li>
                        <li class="buy"><a href="#">购买</a></li>
                    </ul>
               
            </div>
            <div class="iponeX">
                <img src="../static/image/iPhone3.jpg" alt="">
                <ul>
                        <li class="item1">iponeX</li>
                        <li>RMB 4799 </li>
                        <li>单摄系统
                                 <br>
                                 (广角)</li>
                        <li>视频播放最长可达 16 小时</li>
                        <li>具备抗水性能，最多可在 1 米水深停留 30 分钟</li>
                        <li>6.1 英寸
                                Liquid 视网膜高清显示屏</li>
                                <li class="buy"><a href="#">购买</a></li>
                    </ul>
               
            </div>
            <div class="ipone8">
                <img src="../static/image/iPhone4.jpg" alt="">
                <ul>
                        <li class="item1">iPhone 8</li>
                        <li>RMB 3499</li>
                        <li>单摄系统 (广角)
                                <br>
                                或双摄系统 (广角、长焦) </li>
                        <li>视频播放最长可达 14 小时</li>
                        <li>具备抗水性能，最多可在 1 米水深停留 30 分钟</li>
                        <li>4.7 英寸或 5.5 英寸
                                视网膜高清显示屏</li>
                                <li class="buy"><a href="#">购买</a></li>
                    </ul>
            </div>
       </div>
    </div>

	<!-- 登录 -->
	
    <div id="LoginBox">
            <div class="row1">
                登录<a href="#" title="" class="close_btn" id="closeBtn">X</a>
            </div>
                账号: <input type="text" id="txtName" placeholder="用户名" />
                密码:<input type="password" id="txtPwd" placeholder="密码" />
            <div class="row">
                <a href="#" id="loginbtn">登录</a>
            </div>
        </div>
        
        <!-- 注册 -->
        <div id="reginBox">
                <div class="row1">
                    登录<a href="#" title="" class="close_btn" id="closeBtn">X</a>
                </div>
                    账号: 
                        <input type="text" id="txtName" placeholder="用户名" />
                    密码:
                        <input type="password" id="txtPwd" placeholder="密码" />
                    手机: 
                        <input type="text" id="txtTel" placeholder="手机号码" />
                <div class="row">
                    <a href="#" id="reginbtn">登录</a>
                </div>
            </div>


<div class="task">
        <div class="ibuy">
                <div class="buyTop">
                    <h3>订单</h3>
                </div>
                <div class="buyMain">
                    <div>姓名：<input type="text" class="buyName"></div>
                    <div>性别：<input type="text" class="buySex"></div>
                    <div>手机：<input type="text" class="buyPhone"></div>
                    <div>商品：<input type="text" class="buyG" disabled></input></div>
                    <div>地址：<input type="text" class="buyAdd"></div>
                   <div> 价格：<input type="text" class="buyPrice" disabled></div>
                </div>
                <div class="buyBtn">
                    <button class="quxiao">取消</button>
                    <button class="buygoods">购买</button>
                </div>
            </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/login.js"></script>
<script src="../static/js/iphone.js"></script>
</body>
</html>